<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!-- CSS Personalizado -->
        <link rel='stylesheet' type='text/css' href='{% static "css/design.css" %}'>
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav id="bar-sys">
            <img src='{% static "images/siintec.jpg" %}'>
            <p id="barTittle-sys">
                Sistema repositorio de archivos <br>
                Gestor de archivos
            </p>
            <ul id="nav-ul-sys">
                <li>Inicio</li>
                <li>Acerca de nosotros</li>
                <li>Contactanos</li>
                <li>Cerrar</li>
            </ul>
        </nav>
    </body>
</html>