<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- CSS Personalizado -->
	<link href='{% static "css/design.css" %}' rel="stylesheet" type="text/css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <div id="slide-bar">
        <div id="slide-bar_user">
            <p>%Empresa%</p>
        </div>
        <div id="slide-bar-line01">
            <img src='{% static "images/slide_line.png"%}'>
        </div>
        <div id="slide-bar_task">
            <ul>
                <li><img src='{% static "images/slide_home.png" %}'> Inicio</li><br>
                <li><img src='{% static "images/slide_chat.png" %}'> <p>Chat</p></li>
                <li><img src='{% static "images/slide_task.png" %}'> <p>Actividades</p></li>
                <li><img src='{% static "images/slide_settings.png" %}'> <p>Configuración</p></li>
            </ul>
        </div>
        <div id="slide-bar-line01">
            <img src='{% static "images/slide_line.png"%}'>
        </div>
        <div id="slide-bar_user">
            <p>%Usuario%</p>
        </div>
    </div>

</body>
</html>